@charset "UTF-8";


body {
	background: linear-gradient(rgba(255,255,255,0.75), rgba(255,255,255,0.75)), url("Highway.jpg");
	background-repeat: repeat, no-repeat;
	background-size: cover, cover, cover;
}

h3 {
	 text-align: center
}


